.places-container {
    position: absolute;
    top: 3%;
    left: 83%;
    transform: translateX(-50%);
    z-index: 10;
    width: 300px;
  }
  
  .map-container {
    width: 100%;
    height: 100vh;
  }
  
  .combobox-input {
    width: 100%;
    padding: 0.2rem;
  }

  .scrollFix {
    max-height: 150px;
    line-height: 1.35;
    overflow-y: scroll;
    white-space: nowrap;
  }

  .scrollWithLeftSpace {
    margin-left: 17px;
    max-height: 100px;
    line-height: 1.35;
    overflow-y: scroll;
    white-space: nowrap;
  }